<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1><i class="fas fa-birthday-cake"></i> Bakersworld</h1>
            <p>Lorem ipsum enim commodi beatae natus eligendi cupiditate distinct</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                bakers world,kozhikode</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>
                +91-9999999999</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>
                bakersworld@gmail.com</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="features">Features</a>
            <a routerLink="review">Review</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3" id="icon">
            <a href="https://www.facebook.com/" ><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" ><i class="fab fa-instagram"></i></a>
    
        </div>
    </div>
</div>



































<!-- <footer>
    <div class="footer-content">
        <h3><i class="fas fa-birthday-cake"></i> Bakersworld</h3>
        <p>Lorem ipsum dolor sequiitecto dolor debitis perspiciatis, hic nesciunt ipsam qui fugit.</p>
    <ul class="social-icon">
        <li><a href="#" class="fab fa-facebook-f"></a></li>
        <li><a href="#" class="fab fa-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
        <li><a href="#" class="fab fa-linkedin"></a></li>

    </ul>
    
    </div>

    <div class="footer-bottom">
        <p>Designed By - <a href="">Bakersworld</a></p>

    </div>

</footer> -->