<mat-toolbar color="danger" id="m">
  <mat-toolbar-row>
    <span><i class="fas fa-birthday-cake"></i> bakersworld</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>ADMIN</mat-card-title>
     </mat-card-header>
    </mat-card>


    <ul>
    <mat-list role="list">
     <li> <a href="#"><mat-list-item role="listitem">cake category</mat-list-item></a>
      <ul>
        <li><a href="#">add cake</a></li>
        <li><a href="#">update cake</a></li>
      </ul>
    </li>

    <li> <a href="#"><mat-list-item role="listitem">cake menu</mat-list-item></a>
      <ul>
        <li><a href="#">add cake</a></li>
        <li><a href="#">update cake</a></li>
      </ul>
    </li>

    <li> <a href="#"><mat-list-item role="listitem">customer</mat-list-item></a>
      <ul>
        <li><a href="#">add customer</a></li>
        <li><a href="#">update customer</a></li>
      </ul>
    </li>

    <li> <a href="#"><mat-list-item role="listitem">employee</mat-list-item></a>
      <ul>
        <li><a href="#">add employee</a></li>
        <li><a href="#">update employee</a></li>
      </ul>
    </li>
</mat-list> 

  </ul>
</mat-drawer>

    




  <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
</mat-drawer-container>





