<mat-toolbar color="danger" id="m">
    <mat-toolbar-row>
      <span><i class="fas fa-birthday-cake"></i> bakersworld</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
  
      <mat-card class="example-card">
        <mat-card-header id="customer">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>CUSTOMER</mat-card-title>
       </mat-card-header>
      </mat-card>
  
  
      <ul>
      <mat-list role="list">
       <li> <a href="#"><mat-list-item role="listitem">cake menu </mat-list-item></a>
        <ul>
          <li><a href="#">view cake</a></li>
        </ul>
      </li>
      <li> <a href="#"><mat-list-item role="listitem">my account </mat-list-item></a>
        <ul>
          <li><a href="#">view account</a></li>
          <li><a href="#">update account</a></li>
        </ul>
      </li>
  
      <li> <a href="#"><mat-list-item role="listitem">my order </mat-list-item></a>
        <ul>
          <li><a href="#">view order</a></li>
          <li><a href="#">cancel order</a></li>
        </ul>
      </li>
  
  
      
  
      
  </mat-list> 
  
    </ul>
  </mat-drawer>
  
      
  
  
  
  
    <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
  </mat-drawer-container>
  
  
  
  
  
  
