.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/choco1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 2rem;
    font-weight: bold;
}

